<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/index.css" type="text/css">
</head>
<body>
    <div class="hero">
        <div>
            <h1>Ryzik game</h1>
            <a href="#download" class="btn">download</a>
        </div>
    </div>
    <div class="container">
        <div class="section" style="--row: 1">
            <h2>What is Ryzik</h2>
            <div>
                <h3>its an opensource (free) tower defense game developed by JavaKira</h3>
            </div>
            <br>
            <div>
                <h3>interest gameplay</h3>
                <img src="screnshoot1.png">
            </div>
            <br>
            <div>
                <h3>powerful editor for creating various maps</h3>
                <img src="screnshoot2.png">
            </div>
        </div>
        <div id="download">
            <div class="section" style="--row: 2">
                <h2>Download</h2>
                <div>
                    <h3>Android: <a href="/ryzik.apk">download</a></h3>
                    <h3>Github: <a href="https://github.com/JavaKira/Ryzik">sources</a></h3>
                </div>
            </div>
        </div>
        <div>
            <div class="centered-horizontal section" style="--row: 3">
                <h2>Info</h2>
                <div class="container">
                    <div class="box" style="--column: 1">
                        <h3><a href="https://vk.com/ryzikgame">vk group</a></h3>
                    </div>
                    <div class="box" style="--column: 2">
                        <h3><a href="https://vk.com/javapedik">author vk</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>